@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?gnx9g7');
  src:  url('../assets/fonts/icomoon.eot?gnx9g7#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?gnx9g7') format('truetype'),
    url('../assets/fonts/icomoon.woff?gnx9g7') format('woff'),
    url('../assets/fonts/icomoon.svg?gnx9g7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: var(--black2);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-messenger:before {
  content: "\e903";
}
.icon-more:before {
  content: "\e904";
}
.icon-navHeart:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e906";
}
.icon-share:before {
  content: "\e907";
}
