.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.375rem;
  cursor: pointer;
  padding: 12px;
}

.nav .icon-home:active,
.nav .icon-messenger:active,
.nav .icon-heart:active {
  filter: opacity(.7);
}

.navProfile-container .pic {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}


