.tab-section {
  border-top: 1px #dbdbdb solid;
}

.tab-section label {
  cursor: pointer;
  user-select: none;
}

.tab-list {

}

.tab-actions {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  block-size: 52px;
}

.tab-actions .tab-actions__item {
  color: #8e8e8e;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.tab-actions .tab-actions__item i {
  font-weight: 600;
}


[name="display"] {
  display: none;
}


.grid {
  display: none;
}

.igtv-section {
  display: none;
}

input[id="publications"]:checked ~ .grid__publications {
  display: grid;
}

input[id="igtv"]:checked ~ .igtv-section {
  display: flex;
  flex-direction: column;
}

input[id="saved"]:checked ~ .grid__saved {
  display: grid;
}

input[id="tagged"]:checked ~ .grid__tagged {
  display: grid;
}


input[id="publications"]:checked ~ .tab-actions [for="publications"], input[id="igtv"]:checked ~ .tab-actions [for="igtv"], input[id="saved"]:checked ~ .tab-actions [for="saved"], input[id="tagged"]:checked ~ .tab-actions [for="tagged"]  {
  color: var(--black2);
}



input[id="publications"]:checked ~ .tab-actions [for="publications"]::after, input[id="igtv"]:checked ~ .tab-actions [for="igtv"]::after, input[id="saved"]:checked ~ .tab-actions [for="saved"]::after, input[id="tagged"]:checked ~ .tab-actions [for="tagged"]::after  {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: var(--black2);
}