.wall {
  inline-size: 38.375rem;

}


.stories-container {
  display: flex;
  gap: 1rem;
  background: var(--white);
  border-radius: 3px;
  padding: 1rem;
  justify-content: flex-start;
  text-align: center;
  margin-block-end: 1.5rem;
  border: 1px solid rgba(219,219,219,1);
  overflow-x: auto;
}

.stories-card {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  inline-size: 4rem;
  block-size: 5.25rem;
  cursor: pointer;

}

.stories-card .box {
  background: linear-gradient(to bottom, #B239AF,#FE9F3E);
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
}

.stories-card picture img {
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  background: var(--white);
}

.stories-card span {
  font: var(--text2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}